a {
  text-decoration: none;
  color: var(--primary-text-color);
}

div.menu-header {
  background-color: var(--contrast-background-color);
  color: var(--contrast-foreground-color);
  font-weight: bold;
  margin: 16px 0;
  padding: 16px;
}

div.menu-header iron-icon {
  padding-right: 16px;
}

paper-icon-item {
  --paper-item-icon-width: 40px;
  border-bottom: 1px solid var(--drawer-active-background);
}

paper-icon-item [primary] {
  line-height: 1.2em;
}

paper-icon-item [secondary] {
  line-height: 1.2em;
  font-size: 0.8em;
}

paper-icon-item[highlight] {
  background-color: var(--drawer-active-background);
}
