:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 690px;
  margin: 0 auto;
}

paper-card {
  padding: 24px;
}

paper-card h2 {
  margin-top: 0;
}

.logo {
  margin: 16px;
}

.logo img {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.logo span {
  padding: 8px;
}

[hidden] {
  display: none !important;
}
