:host {
  max-width: 690px;
  margin: 0 auto;
  @apply --layout-vertical;
}

paper-card {
  margin-top: 16px;
}

paper-spinner-lite {
  margin-right: 24px;
}

#loadMoreButton {
  background-color: var(--contrast-background-color);
  color: var(--contrast-foreground-color);
  width: 250px;
}

#footer {
  margin-top: 16px;
  @apply --layout-vertical;
  @apply --layout-center;
}

[hidden] {
  display: none !important;
}
