:host {
  @apply --layout-vertical;
}

paper-card {
  padding: 16px;
}

paper-card h2 {
  margin-top: 0;
}

#passwordResetSendEmailButton,
#passwordResetEnterCodeButton,
#passwordResetSubmitCodeButton,
#passwordResetSigninButton {
  margin: 8px 0 0 0;
  background-color: var(--contrast-background-color);
  color: var(--contrast-foreground-color);
}

[hidden] {
  display: none !important;
}
