:host {
  @apply --layout-vertical;
}

:host > :not(:last-child) {
  margin-bottom: 16px;
}

paper-card {
  padding: 24px;
}

paper-card h2 {
  margin-top: 0;
}

paper-card.warning {
  border: 5px solid  var(--warning-background-color);
}

[hidden] {
  display: none !important;
}
