:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 690px;
  margin: 0 auto;
}

paper-card {
  margin-bottom: 8px;
}

#listHeader {
  margin-bottom: 16px;
  @apply --layout-horizontal;
  @apply --layout-start;
}

#listHeader h1 {
  margin: 0;
}

#listHeader paper-button {
  margin: 0;
  padding: 8px;
  text-transform: none;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

#listHeader paper-button iron-icon {
  margin-right: 4px;
}

diy-input.percent {
  text-align: right;
  width: 6ex;
}

[hidden] {
  display: none !important;
}
