:host {
  @apply --layout-vertical;
}

paper-card {
  padding: 16px;
}

paper-card h2 {
  margin-top: 0;
}

paper-button {
  margin: 16px 0 0 0;
}

.bottom-margin {
  margin-bottom: 16px;
}

.auth-provider {
  margin: 8px;
  width: 100px;
  height: 100px;
  background-color: white;
  text-transform: none;
  font-size: 0.8em;

  @apply --layout-vertical;
  @apply --layout-center;
}

.auth-provider img {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.auth-provider[disabled] img {
  opacity: 0.5;
}

.signin-container {
  margin: -8px;
}

.signin-card {
  margin: 8px;
}

#waitingForTokenDialog {
  padding: 16px;
}

#waitingForTokenDialog span {
  margin-left: 16px;
}

[hidden] {
  display: none !important;
}
