/*
 * Classical theme for the DIY Website.
 * https://polymerthemes.com/classical/
 */
:root {
  --primary-text-color: #333333;
  --primary-background-color: #f9fafb;
  --secondary-text-color: #594f4f;
  --secondary-background-color: #eceff1;
  --separator-color: #d4d7d9;

  --contrast-text-color: #2d3333;
  --contrast-foreground-color: white;
  --contrast-background-color: #424b4b;
  --info-text-color: #1e4243;
  --info-foreground-color: white;
  --info-background-color: #3b8183;
  --success-text-color: #50732a;
  --success-foreground-color: white;
  --success-background-color: #7cb342;
  --warning-text-color: #b29e45;
  --warning-foreground-color: var(--primary-text-color);
  --warning-background-color: #f2d65e;
  --error-text-color: #e26f4b;
  --error-foreground-color: white;
  --error-background-color: #e26f4b;

  --toolbar-color: var(--contrast-foreground-color);;
  --toolbar-background: var(--contrast-background-color);
  --toolbar-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);

  --input-focus-color: var(--info-background-color);
  --input-border-color: var(--separator-color);
  --input-background-color: white;
  --input-error-color: var(--error-text-color);

  --drawer-background: var(--secondary-background-color);
  --drawer-active-background: #d4d7d7;
}

/* Dialog styles. */

paper-dialog h2 {
  margin: 0;
}

paper-dialog .dialog-title {
  padding: 24px;
  margin: 0;
  @apply --layout-horizontal;
  @apply --layout-center;
}

paper-dialog.error-dialog .dialog-title {
  background-color: var(--error-background-color);
  color: var(--error-foreground-color);
}

paper-dialog.info-dialog .dialog-title {
  background-color: var(--info-background-color);
  color: var(--info-foreground-color);
}

paper-dialog .dialog-title iron-icon {
  margin-right: 16px;
}
