:host {
  @apply --layout-vertical;
}

a {
  color: var(--info-text-color);
  cursor: pointer;
}

div.two-column {
  padding: 8px;
  column-count: 2;
  column-rule: 1px solid var(--separator-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 4px;
}

table .vendor-short {
  width: 1px;
}

table .flavor-action {
  padding: 0;
  width: 1px;
}

#emptyCard {
  padding: 32px 16px;
  text-align: center;
}

#title {
  margin: 24px 0 8px 0;
}

#title h2 {
  margin: 0;
}

#title iron-icon {
  color: var(--separator-color);
  cursor: pointer;
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

#title iron-icon:hover {
  color: var(--info-text-color);
}

#numFlavorsInfo,
#showAllButton,
#collapseButton {
  margin-right: 8px;
  @apply --paper-font-caption;
}

#flavorsHiddenNotice {
  padding: 2px;
  text-align: center;
  background-color: var(--secondary-background-color);
  @apply --paper-font-caption;
}

[hidden] {
  display: none !important;
}
