:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 690px;
  margin: 0 auto;
}

paper-card {
  padding: 24px;
}

paper-card h2 {
  margin-top: 0;
}

[hidden] {
  display: none !important;
}
