table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 4px;
}

table td.percent {
  text-align: right;
  width: 3em;
}

table td.vendor {
  width: 1em;
}

table td.vendor > span {
  cursor: pointer;
  @apply --diy-vendor-box;
}

#header {
  background-color: var(--tertiary-background-color);
  padding: 8px 0 8px 16px;
}

#header h2 {
  margin: 0;
}

#header #isPublicIndicator {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  opacity: 0.5;
}

#actions {
  padding-right: 4px;
}

#actions paper-button {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 3px;
  margin: 0 4px;
  min-width: 0;
}

#actions paper-button iron-icon {
  width: 20px;
  height: 20px;
}

#ingredients {
  margin: 8px 16px 16px 16px;
  border: 1px solid var(--secondary-background-color);
  background-color: white;
}

#details {
  margin: 8px 16px;
  font-size: 0.85em;
}

#notes {
  margin: 16px;
}

[hidden] {
  display: none !important;
}
