:host {
  display: block;
}

paper-checkbox {
  margin: 4px;
}
diy-input {
  width: 10em;
}

table {
  margin: 8px 0;
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even){
  background-color: var(--secondary-background-color);
}

table tr.separator-row {
  border-top: 2px solid var(--contrast-background-color);
}

table td {
  padding: 4px;
  white-space: nowrap;
}

table td.volume {
  text-align: right;
  width: 1px;
}

table td.percent {
  text-align: right;
  width: 1px;
}

table td.vendor {
  padding: 4px;
  width: 1em;
}

table td.vendor > span {
  cursor: pointer;
  @apply --diy-vendor-box;
}

table td.flavor {
  padding: 4px;
}

table td.actions {
  width: 1px;
}

#backButton {
  background-color: white;
  padding: 4px 8px;
  margin: 0;
}

.inputs > *:not(:last-child) {
  margin-right: 8px;
}

[hidden] {
  display: none !important;
}
