:host {
  @apply --layout-vertical;
}

a {
  cursor: pointer;
}

div.two-column {
  padding: 8px;
}

@media (min-width: 600px) {
  div.two-column {
    column-count: 2;
    column-rule: 1px solid var(--separator-color);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 4px;
}

table .vendor-short {
  width: 1px;
}

table .vendor-short > span {
  @apply --diy-vendor-box;
}

table .flavor-action {
  padding: 0;
  width: 1px;
}

#heading {
  background-color: var(--tertiary-background-color);
  padding: 8px;
}

#heading h2 {
  margin: 0;
}

#heading iron-icon {
  opacity: 0.2;
  cursor: pointer;
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

#heading iron-icon:hover {
  opacity: 1.0;
}

#heading #details {
  @apply --paper-font-caption;
  @apply --layout-vertical;
  @apply --layout-end;
  line-height: 1.2em;
}

#showAllButton,
#collapseButton {
  font-weight: bold;
}

#emptyMessage {
  padding: 32px 16px;
  text-align: center;
}

#flavorsHiddenNotice {
  padding: 2px;
  text-align: center;
  background-color: var(--secondary-background-color);
  @apply --paper-font-caption;
}

[hidden] {
  display: none !important;
}
