:host {
  @apply --layout-vertical;
}

h2 {
  margin: 0 0 16px 0;
}

h3 {
  margin: 16px 0 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even){
  background-color: var(--secondary-background-color);
}

table th {
  text-align: left;
  font-size: 0.85em;
  padding: 4px;
}

table td {
  padding: 0 4px;
}

table td.percent-input {
  width: 1px;
}

table td.percent-input span {
  margin-left: 4px;
}

table td.actions {
  width: 1px;
}

table td.actions paper-button {
  color: var(--separator-color);
  margin: 3px 1px;
  padding: 0;
  width: 22px;
  height: 22px;
  min-width: initial;
}

table td.actions paper-button:hover {
  color: var(--secondary-text-color);
}

paper-card {
  padding: 16px;
  margin-bottom: 16px;
}

paper-radio-button div[secondary] {
  color: var(--secondary-text-color);
  @apply --paper-font-caption;
  line-height: 1em;
}

paper-radio-group {
  --paper-radio-group-item-padding: 4px;
}

diy-input.percent {
  text-align: right;
  width: 6ex;
}

diy-textarea {
  margin-top: 8px;
}

paper-button {
  margin: 0;
}

paper-dialog {
  max-width: 500px;
}

#addIngredientButton {
  background-color: var(--info-background-color);
  color: var(--info-foreground-color);
  padding: 4px 16px;
  margin: 8px 4px;
}

#addIngredientButton iron-icon {
  margin-right: 4px;
}

#saveRecipeButton {
  background-color: var(--info-background-color);
  color: var(--info-foreground-color);
  margin-left: 16px;
}

.info-button {
  cursor: pointer;
  color: var(--info-background-color);
  opacity: 0.2;
  width: 20px;
  height: 20px;
}

.info-button:hover {
  opacity: 1.0;
}

[hidden] {
  display: none !important;
}
