h3 {
  margin: 16px 0 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even){
  background-color: var(--secondary-background-color);
}

table tr.separator-row {
  border-top: 2px solid var(--contrast-background-color);
}

table td {
  padding: 4px;
}

table td.percent {
  text-align: right;
  width: 3em;
}

table td.vendor {
  width: 1em;
}

table td.vendor > span {
  cursor: pointer;
  @apply --diy-vendor-box;
}

table td.actions {
  width: 1px;
}

diy-recipe-mixer {
  margin: 16px;
}

#header {
  background-color: var(--tertiary-background-color);
  padding: 8px;
}

#header a {
  text-decoration: none;
  color: inherit;
}

#header h2 {
  margin: 0;
}

#header #isPublicIndicator {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  opacity: 0.5;
}

#header .actions paper-button {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 3px;
  margin: 0 0 0 8px;
  min-width: 0;
}

#header .actions paper-button iron-icon {
  width: 20px;
  height: 20px;
}

#header #dropdownMenu {
  padding: 0;
}

#header #dropdownMenu paper-icon-item {
  --paper-item-icon-width: 32px;
  cursor: pointer;
}

#header #dropdownMenu paper-icon-item:hover {
  background-color: var(--secondary-background-color);
}

#content {
  margin: 16px;
}

#details {
  padding: 4px 8px;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--separator-color);
  font-size: 0.85em;
}

#details a {
  color: inherit;
}

#ingredients {
  margin: 8px 0;
  background-color: white;
}

[hidden] {
  display: none !important;
}
