:host {
  @apply --layout-vertical;
}

paper-card {
  margin-top: 16px;
}

#loadingRecipesCard,
#loadingErrorCard,
#noRecipesCard {
  padding: 24px;
  @apply --layout-horizontal;
  @apply --layout-center-justified;
}

#loadingErrorCard {
  color: var(--error-text-color);
}

#listHeader {
  @apply --layout-horizontal;
  @apply --layout-start;
}

#listHeader h1 {
  margin: 0;
}

#listHeader paper-button {
  margin: 0;
  padding: 8px;
  text-transform: none;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

#listHeader paper-button iron-icon {
  margin-right: 4px;
}

#deleteButton {
  background-color: var(--contrast-background-color);
  color: var(--contrast-foreground-color);
  margin-right: 0;
}

[hidden] {
  display: none !important;
}
