:host {
  @apply --layout-vertical;
}

diy-recipe {
  margin-bottom: 16px;
  background-color: white;
  @apply --shadow-elevation-2dp;
}

#loadingRecipesCard,
#loadingErrorCard,
#noRecipesCard {
  padding: 24px;
  background-color: white;
  @apply --shadow-elevation-2dp;
  @apply --layout-horizontal;
  @apply --layout-center-justified;
}

#loadingErrorCard {
  color: var(--error-text-color);
}

#listHeader paper-button iron-icon {
  margin-right: 4px;
}

#deleteButton {
  background-color: var(--contrast-background-color);
  color: var(--contrast-foreground-color);
  margin-right: 0;
}

[hidden] {
  display: none !important;
}
