app-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  background-color: var(--toolbar-background);
  color: var(--toolbar-color);
  box-shadow: var(--toolbar-shadow);
  z-index: 2;
}

diy-drawer-layout {
  margin-top: 64px;
  z-index: 1;
  --app-drawer-width: 220px;
}

app-drawer {
  margin-top: 64px;
  box-shadow: var(--shadow-elevation-2dp_-_box-shadow);
  --app-drawer-content-container: {
    background-color: var(--primary-background-color);
  }
}

paper-dialog {
  width: 400px;
}
