:host {
  margin: 2px 0;
  @apply --layout-vertical;
}

#label {
  color: var(--secondary-text-color);
  @apply --paper-font-caption;
}

#label[focused] {
  color: var(--input-focus-color, blue);
}

#error {
  color: var(--input-error-color, red);
  @apply --paper-font-caption;
}

#container {
  background-color: var(--input-background-color, white);
  border: 1px solid var(--input-border-color, #ddd);
  padding: 0px 4px;
}

#input {
  @apply --layout-vertical;
}

input {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  text-align: inherit;
  @apply --paper-font-subhead;
}

#underline {
  height: 2px;
  margin-top: -1px;
  opacity: 0.0;
}

#underline[focused] {
  border-top: 2px solid var(--input-focus-color, blue);
  height: 0;
  opacity: 1.0;
  transition-duration: 0.5s;
  transition-property: opacity;
}

[hidden] {
  display: none !important;
}
