:host {
  display: block;
}
:host([fullbleed]) {
  @apply --layout-fit;
}
#contentContainer {
  /* Create a stacking context here so that all children appear below the header. */
  position: relative;
  height: 100%;
  transition: var(--app-drawer-layout-content-transition, none);
}
#contentContainer[drawer-position=left] {
  margin-left: var(--app-drawer-width, 256px);
}
#contentContainer[drawer-position=right] {
  margin-right: var(--app-drawer-width, 256px);
}
