:host {
  display: block;
  margin: 2px 0;
  @apply --layout-vertical;
}

#container {
  background-color: var(--input-background-color, white);
  border: 1px solid var(--input-border-color, #ddd);
  padding: 0px 4px;
}

textarea {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  width: 100%;
  resize: vertical;
  @apply --paper-font-subhead;
}

#underline {
  height: 2px;
  margin-top: -1px;
  opacity: 0.0;
}

#underline[focused] {
  border-top: 2px solid var(--input-focus-color, blue);
  height: 0;
  opacity: 1.0;
  transition-duration: 0.5s;
  transition-property: opacity;
}

[hidden] {
  display: none !important;
}
