p {
  width: 320px;
  text-align: center;
  color: var(--secondary-text-color);
}

iron-icon {
  width: 160px;
  height: 160px;
  color: var(--separator-color);
}

paper-button {
  width: 200px;
  background-color: white;
}
